[submodule "closure-library"]
	path = closure-library
	url = https://github.com/google/closure-library
[submodule "scratch-vm"]
	path = scratch-vm
	url = https://github.com/noriakisana/scratch-vm
[submodule "scratch-gui"]
	path = scratch-gui
	url = https://github.com/scratchfoundation/scratch-gui
[submodule "scratch-blocks"]
	path = scratch-blocks
	url = https://github.com/scratchfoundation/scratch-blocks
[submodule "scratch-render"]
	path = scratch-render
	url = https://github.com/scratchfoundation/scratch-render
